<header class="header-admin">
    <div class="header-content cf">
        <div class="logo fl">
            <a data-href="packageInfoQuery" accountType="admin" class="img"><img src="../../assets/imgs/logo.png" alt="" /></a>
            <a data-href="packageInfoQuery" accountType="admin" class="system">IS SYSTEM  后台管理系统</a>
        </div>
        <ul class="right fr">
            <!--未认证是默认的class="no" lg='notCertified'--> <!--已认证是在span上添加class="cur" lg='authenticated'--><!--认证中是在span上添加class="in" lg='inAuthenticated'-->
            <li class="userName">
                <div class="userTit js-tips">
                    <i class="acountUser"></i>
                </div>
            </li>
            <li class="border loginout"><a href="javascript:;" class="icon js-admin-loginout">退出</a></li>
        </ul>
    </div>
</header>
<div data-htmlfile="/components/modules/popup-msg.html"></div>