<header class="header-account">
    <div class="header-content cf">
        <div class="logo fl">
            <img src="../../assets/imgs/logo.png" alt="" />
        </div>
        <ul class="navbar fr">
            <li class="language">
                <a class="dropdown js-changelanguage js-tips" href="javascript:;"></a>
                <ul class="dropdown-menu tips">
                    <li><a href="javascript:;"></a></li>
                    <li><a href="javascript:;"></a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<div data-htmlfile="/components/modules/popup-msg.html"></div>