<header class="header-development">
    <div class="header-content cf">
        <div class="logo fl">
            <a data-href="javascript:;"><img src="../../assets/imgs/logo.png" alt="" /></a>
            <a data-href="javascript:;" class="logisticsPlatform">国际物流开发者平台</a>
        </div>
        <ul class="right fr">
            <li class="home fl">
                <a data-href="home" accountType="development">首页</a>
            </li>
            <li class="apiFile fl">
                <a data-href="apiDocumentDetail" accountType="development">API文档 </a>
            </li>
            <li class="askDown fl">
                <a data-href="SDKDownload" accountType="development">SDK下载</a>
            </li>
            <li class="onlineest fl">
                <a data-href="sandbox" target="_blank" accountType="development">在线测试</a>
            </li>
        </ul>
    </div>
</header>
<div data-htmlfile="/components/modules/popup-msg.html"></div>