<div class='popup prefer-sku-updata'>
    <div class='mask'></div>
    <div class='content'>
        <a href='javascript:;' class='close sprite'></a>
        <p class='popTitle'>上传SKU预设<span>*为必填项</span></p>
        <p class="topErroMsg"><span v-if='showErroMsg' lg='errorMessage'></span></p>
        <div class="btns cf files">
            <p class="longText">文件类型</p>
            <p class="gray">支持上传的文件类型有 CVS 、Excel</p>
            <p class="selectFileBtn" href="javascript:;"><span>选择文件</span><input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/></p>
        </div>
        <div class="btns cf">
            <a class="download" href="javascript:;">下载模板</a>
            <a class="saveBtn" href="javascript:;">保存</a>
            <a class="cancelBtn" href="javascript:;">取消</a>
        </div>
    </div>
</div>