<div class='popup privateTerm'>
    <div class='mask'></div>
    <div class='content'>
        <a href='javascript:;' class='close sprite'>关闭</a>
        <div class='scrollBlock'>
            <p class='title' lg='termPrivateTitle'></p>
            <p class="text">法大大以本隐私保护协议对用户隐私保护承诺。本隐私保护协议将根据实际情况的变化和需要以及您的建议进行即时更新，更新的内容一经公布即刻生效，请用户留意并查看。该隐私保护协议属于《法大大用户注册和使用协议》的一部分，您在接受《法大大用户注册和使用协议》约束的同时，即表明您同意接受《法大大隐私保护协议》全部内容。<br><br>一、用户身份限制<br>法大大不向未成年人（未满18周岁）提供服务，因此不接受未成年人向我们提供任何信息。<br><br>二、账号及信息的安全<br>法大大将竭尽所能保护所有用户信息安全，不会向任何无关第三方提供、出售、分享和交易用户的个人账号及信息。<br>用户个人，您应保管好您的用户名与密码，不得向其他任何人泄露您的用户名和密码，亦不可使用其他任何人的用户名和密码。因黑客、病毒或您的保管疏忽等非法大大原因导致<br><br>三、账号及信息的安全<br>法大大将竭尽所能保护所有用户信息安全，不会向任何无关第三方提供、出售、分享和交易用户的个人账号及信息。<br>用户个人，您应保管好您的用户名与密码，不得向其他任何人泄露您的用户名和密码，亦不可使用其他任何人的用户名和密码。因黑客、病毒或您的保管疏忽等非法大大原因导致</p>
            <p class="btns cf">
                <a class='unagree' href="javascript:;" lg='unagree'></a>
                <a class='agree' href="javascript:;" lg='agree'></a>
            </p>
        </div>
    </div>
</div>