<!-- 资料信息 -->
<div class='popup datum-msg' v-show="pop.openInfo">
  <div class='mask'></div>
  <div class='content-container'>
    <div class="title">
      <h2 lg="infoInformation"></h2>
      <em v-on:click="pop.openInfo=0;"></em>
    </div>
    <div class="message-box">
      <div class="inner">
        <p>Notice</p>
        <p>The following information is intended for programmmers and advanced users only.If you just want to use LiveJournal to keep your journal,great! Normal users do not have to worry about this stuff.</p>
        <p>That said,the content below is split up into two sections:information on how to customize the look of LiveJournal pages,and information on writing LiveJournal clients to the LiveJournal server.</p>
        <p>LiveJoutnal Code Repository</p>
        <p>To see the backend that makes LiveJoutnal tick,and to see the innards of a few of thie available clients,go to the Code page.</p>
        <p>The following information is intended for programmmers and advanced users only.If you just want to use LiveJournal to keep your journal,great! Normal users do not have to worry about this stuff.</p>
        <p>That said,the content below is split up into two sections:information on how to customize the look of LiveJournal pages,and information on writing LiveJournal clients to the LiveJournal server.</p>
        <p>LiveJoutnal Code Repository</p>
        <p>To see the backend that makes LiveJoutnal tick,and to see the innards of a few of thie available clients,go to the Code page.</p>
        <p>The following information is intended for programmmers and advanced users only.If you just want to use LiveJournal to keep your journal,great! Normal users do not have to worry about this stuff.</p>
        <p>That said,the content below is split up into two sections:information on how to customize the look of LiveJournal pages,and information on writing LiveJournal clients to the LiveJournal server.</p>
        <p>LiveJoutnal Code Repository</p>
        <p>To see the backend that makes LiveJoutnal tick,and to see the innards of a few of thie available clients,go to the Code page.</p>
        <p>That said,the content below is split up into two sections:information on how to customize the look of LiveJournal pages,and information on writing LiveJournal clients to the LiveJournal server.</p>
        <p>LiveJoutnal Code Repository</p>
        <p>To see the backend that makes LiveJoutnal tick,and to see the innards of a few of thie available clients,go to the Code page.</p>
      </div>
    </div>
    <div class="btn-container">
      <button class="btn confirm" lg="applyThirdPartyDeveloper" v-on:click="pop.openPopApplyThirdDeveloper=1;pop.openInfo=0;"></button>
    </div>
  </div>
</div>