<div class='popup popup-deliver-stauts'>
        <div class='mask'></div>
        <div class='content'>
            <a href='javascript:;' class='close'></a>
            <p class='mainTitle'>交运</p>
            <p class='stautsText'>交运成功：5件包裹，交运失败：5件包裹</p>
            <p class='batteryText'>未完成寄送锂电池认证</p>
            <div class="btnArr cf">
                <a class="blueBtn fr" href="javascript:;" lg='completed'></a>
                <a class="whiteBtn fr" href="javascript:;" lg='cancel'></a>
            </div>
        </div>
    </div>