<div class="top-search-bar">
    <div class="bar">
        <div class="input-wrapper">
            <input type="text" toggle="#searchResult" placeholder="输入关键词，订单" id="keyword"/>
            <em class="show"></em>
            <div id="searchResult" class="result">
                <ul>
                    <li>这是我<span class="red">搜索</span>出来的结果1</li>
                    <li>这是我<span class="red">搜索</span>出来的结果2</li>
                    <li>这是我<span class="red">搜索</span>出来的结果3</li>
                    <li>这是我<span class="red">搜索</span>出来的结果4</li>
                    <li>这是我<span class="red">搜索</span>出来的结果5</li>
                </ul>
            </div>
        </div>
        <a href="javascript:querykeyword()">搜索</a>
    </div>
</div>
