.sb{
	.disabled{
		color:#999 !important;
	}
	.btn.disabled{background:#999 !important;color:#fff !important;}
	.header-personal .header-content .img{
		position: relative;
		.sandbox{position: absolute;display:block;    top: 0;
			font-size: 12px;
			background: #ccc;
			line-height: 12px;
			border: 1px solid #666;
			border-radius: 2px;
			padding: 1px;
			left: 50%;
			transform: scale(0.8);
			margin-left: -14px;
			margin-top: -6px;}
	}
}