.loading {
  min-height: 100px;
  position: relative; }
  .loading::before {
    content: '';
    z-index: 99999;
    position: absolute;
    left: 50%;
    top: 50px;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    background: url("../../../assets/imgs/loading.gif") center center no-repeat; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, span, li, em,
details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  white-space: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

@page {
  size: auto;
  margin: 0; }
@media print {
  width: 100%;
  height: 100%; }
.printSampleWrapper {
  page-break-after: always; }

.printSampleWrapper:last-child {
  page-break-after: auto; }

.printSampleWrapper {
  background: #fff;
  overflow: hidden;
  border: 1px solid #000;
  width: 99%;
  height: 100%;
  margin: 0 auto; }
  .printSampleWrapper .logo-nav {
    overflow: hidden;
    width: 100%;
    height: 25%;
    position: relative;
    clear: both;
    zoom: 1;
    font-size: 14px; }
    .printSampleWrapper .logo-nav::before, .printSampleWrapper .logo-nav::after {
      content: "";
      display: block;
      overflow: hidden; }
    .printSampleWrapper .logo-nav::after {
      clear: both; }
    .printSampleWrapper .logo-nav li {
      float: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden; }
    .printSampleWrapper .logo-nav .leftS {
      width: 20%; }
      .printSampleWrapper .logo-nav .leftS img {
        width: 100%;
        height: auto; }
    .printSampleWrapper .logo-nav .logo {
      width: 70%;
      height: 40%; }
      .printSampleWrapper .logo-nav .logo img {
        width: 60%;
        height: auto; }
      .printSampleWrapper .logo-nav .logo span {
        float: right;
        font-size: 12px;
        line-height: 24px;
        text-align: center; }
    .printSampleWrapper .logo-nav .super {
      width: 80%;
      height: 60%;
      position: relative; }
      .printSampleWrapper .logo-nav .super img {
        float: left;
        width: 98%;
        margin-left: 1mm;
        height: auto; }
      .printSampleWrapper .logo-nav .super p {
        float: left;
        font-size: 12px;
        line-height: 24px;
        font-weight: bold;
        text-align: center;
        width: 100%; }
  .printSampleWrapper .grayBg {
    width: 100%;
    height: 48%;
    position: relative;
    padding: 0 1mm;
    margin-bottom: 1mm; }
    .printSampleWrapper .grayBg .nav {
      margin: 1mm 0;
      height: 10%;
      overflow: hidden; }
      .printSampleWrapper .grayBg .nav .textid {
        float: left;
        width: 32%;
        height: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-all; }
        .printSampleWrapper .grayBg .nav .textid span, .printSampleWrapper .grayBg .nav .textid em {
          font-size: 14px;
          line-height: 14px; }
        .printSampleWrapper .grayBg .nav .textid:last-child {
          float: right; }
    .printSampleWrapper .grayBg .tableWrapper {
      float: left;
      width: 60%;
      height: 87%;
      overflow: hidden; }
      .printSampleWrapper .grayBg .tableWrapper table {
        border: 1px solid #000; }
      .printSampleWrapper .grayBg .tableWrapper tr:first-child {
        border-bottom: 1px solid #000; }
      .printSampleWrapper .grayBg .tableWrapper th {
        border-right: 1px solid #000; }
        .printSampleWrapper .grayBg .tableWrapper th:last-child {
          border: none; }
        .printSampleWrapper .grayBg .tableWrapper th p, .printSampleWrapper .grayBg .tableWrapper th span {
          overflow: hidden;
          font-size: 12px;
          line-height: 12px; }
    .printSampleWrapper .grayBg .adr {
      float: right;
      width: 38%;
      border: 1px solid #000;
      overflow: hidden;
      height: 87%; }
      .printSampleWrapper .grayBg .adr th {
        border-bottom: 1px solid #000; }
      .printSampleWrapper .grayBg .adr td, .printSampleWrapper .grayBg .adr p {
        font-size: 12px;
        line-height: 12px;
        font-weight: normal; }
      .printSampleWrapper .grayBg .adr p {
        display: inline-block; }
  .printSampleWrapper .reference {
    width: 100%;
    height: 25%;
    position: relative; }
    .printSampleWrapper .reference img {
      width: 98%;
      margin-left: 1mm;
      height: 70%;
      vertical-align: middle; }
    .printSampleWrapper .reference .referenceNum {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      line-height: 24px; }

/*# sourceMappingURL=print.css.map */
